!package.json
!.gitignore
!turbo.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!**/package.json
!apps/backend/**
apps/backend-infrastructure/**
apps/frontend/**
!packages/**
**/dist
**/.next
**/.turbo
**/.swc
**/node_modules
**/coverage
**/.env*
