/*
  global minimalist css reset from https://www.joshwcomeau.com/css/custom-css-reset/
*/
/*
  stylelint-disable
  selector-max-type,
  scale-unlimited/declaration-strict-value
  -- This global css transgress basic stylelint rules about selectivity and hardcoded values
*/

@font-face {
  font-family: 'Khmer OS Muol light';
  src: url('/fonts/Khmer\ OS\ Muol\ Light\ Regular.ttf') format('truetype');
  unicode-range: U+1780-17FF; /* Khmer Unicode range */
}

@font-face {
  font-family: 'Khmer OS Siemreap';
  src: url('/fonts/Khmer\ OS\ Siemreap\ Regular.ttf') format('truetype');
  unicode-range: U+1780-17FF; /* Khmer Unicode range */
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f7f7;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  font-family: 'Khmer OS Muol light', 'Roboto', sans-serif;
}

h1 {
  font-family: 'Khmer OS Muol light', 'Roboto', sans-serif;
}

p,
span,
div {
  font-family: 'Khmer OS Siemreap', 'Roboto', sans-serif;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  stylelint-disable-next-line selector-max-id -- 9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
  height: 100%;
}

/* Override styles for Mui Inputs without breaking the datagrid filter component */
.MuiInputBase-input:not(.MuiInput-input) {
  padding: 0.5rem 0.5rem;
  font-size: 14px !important;
}

/* Override styles for Mui Typography root */
.MuiTypography-root {
  font-size: 14px;
}
