:root {
  --spacing_very-small: 0.25rem;
  --white: white;
  --color_primary_1: black;
  --color_primary_2: #666;
  --color_primary_3: #3A84AD;
  --color_buttons_1: #63B2BD;
  --background-color-main: #f5f5f5;
}
