/*
  stylelint-disable
  scale-unlimited/declaration-strict-value
*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color-main);
}

.container {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  margin-bottom: 1rem;
}

.khSubtitle {
  font-size: 0.875rem;
  color: black;
  margin-bottom: 1rem;
}

.enSubtitle {
  font-size: 0.875rem;
  color: var(--color_primary_3);
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: start;
  color: var(--color_primary_3);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputContainer {
  position: relative;
}

.forgotPassword {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.875rem;
  color: var(--color_buttons_1);
  text-decoration: none;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.submit {
  background-color: var(--color_buttons_1);
  color: var(--white);
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.submit:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.loading {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #fff;
  }

  to {
    box-shadow: 0 0 20px #275d7b;
  }
}
